body {
    height: 100%;
    background-color: #341C09;
    color: white;
    width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    border-top: solid;
    border-top-width: 3px;
    border-top-color: white;
    border-left: solid;
    border-left-width: 3px;
    border-left-color: white;
    border-right: solid;
    border-right-width: 3px;
    border-right-color: white;
    margin-top: 10px;
}
li {
    list-style: none;
    text-indent: 0px;
    display: inline;
}
#FooterWrap {
    text-align: right;
    background-color: #341C09;
    color: #FFAB6B;
    padding-right: 10px;
}
#BodyWrap {
    background-color: #FFEBDC;
    color: #341C09;
    padding-left: 5px;
    text-align: center;
}
#HeaderWrap {
    font-size: 18pt;
    background-color: #FFAB6B;
    color: #9E4500;
    padding-left: 5px;
    padding-right: 10px;
}
